/* Aplicação do box-sizing em toda estrutura html para 'zerar' as dimensões (width e height) dos elementos da página */
html {
   box-sizing: border-box;
}
/* Todos os elementos da página (*) e suas pseudo-classes (before e after) herdarão o box-sizing do seletor-pai, no caso, 'html'*/
*,*:before,*:after{
   box-sizing: inherit;
} 
/* Estilos gerais da página */
body{
   font-family: "Trebuchet MS", Helvetica, sans-serif;
   margin: 0;
   padding: 0;
}
.row:before,.row:after,.container:before,.container:after{
   content: " ";
   display: table;
}
.row:after, .container:after{
   clear: both;
}
.background {
    background: #e3f2fd
}
.container{
   margin: 0 auto; /* centralizando o conteúdo */
   max-width: 1320px; /* largura máxima que comporá a grid */
   width: 100%;
}

[class*='col-']{
   float: left;
   min-height: 1px;
   width: 100%;
}

.col-smart-1{width: 8.33333%;}
.col-smart-2{width: 16.66667%;}
.col-smart-3{ width: 25%;}
.col-smart-4{width: 33.33332%;}
.col-smart-5{width: 41.66665%;}
.col-smart-6{width: 49.99998%;}
.col-smart-7{width: 58.33331%;}
.col-smart-8{width: 66.66664%;}
.col-smart-9{width: 74.99997%;}
.col-smart-10{width: 83.33333%;}
.col-smart-11{width: 91.66663%;}
.col-smart-12{width: 100%;}

@media screen and (min-width: 768px){
.col-tablet-1{width: 8.33333%;}
.col-tablet-2{width: 16.66667%;}
.col-tablet-3{width: 25%;}
.col-tablet-4{width: 33.33332%;}
.col-tablet-5{width: 41.66665%;}
.col-tablet-6{width: 49.99998%;}
.col-tablet-7{width: 58.33331%;}
.col-tablet-8{ width: 66.66664%;}
.col-tablet-9{width: 74.99997%;}
.col-tablet-10{width: 83.33333%;}
.col-tablet-11{ width: 91.66663%;}
.col-tablet-12{ width: 100%;}
 
}